{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block head_title %}shelby_codes{% endblock %}</title>

{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
    <link href="https://fonts.googleapis.com/css?family=Asap|Nunito+Sans|VT323" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div id="body-container" class="container-fluid">
    <div class="page-header">
        <h1 id="title">{% block title %}shelby_codes{% endblock %}</h1>
        <span id="menu_container">
            <ul id="menu_list">
                <li class="menu"><a class="menu" href="index.html">About</a></li>
                <li class="menu"><a class="menu" href="">Projects</a></li>
                <li class="menu"><a class="menu" href="">Blog</a></li>
                <li class="menu"><a class="menu" href="">Home</a></li>
            </ul>
        </span>
    </div>

{# columns #}
    <div id="columns">
        <div id="side-menu" class="menu container">
            <div class="col-sm-8">

                {% block sidemenu %}

                    <h2>Categories</h2>
                    <ul>
                        {% for category in categories %}
                            <h4><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></h4>
                            {% for post in posts.objects.filter(category=category) %}
                                <li class="sidemenu"><a href="{{ post.get_absolute_url }}">-- {{ post.title }}</a></li>
                            {% endfor %}
                        {% endfor %}
                    </ul>

                {% endblock %}

            </div>
        </div>
        <div id="post-container" class="content container">

            {% block content %}

            <div id="post-sub-container">
            <h2>Posts</h2>
            {%  if posts %}
                {% for post in posts %}
                    <div id="blog-post">
                        <p id="post-date-published">published: {{ post.published_date }}</p>
                        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        <p id="post-text">{{ post.text }}afsegsg</p>
                    </div>
                {% endfor %}
                {% else %}
                <p>There are no posts.</p>
            {% endif %}
            </div>
        </div>

        {% endblock %}

    </div>
{# end columns #}

</div>
</body>
</html>