{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block head_title %}shelby_codes{% endblock %}</title>

{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
    <link href="https://fonts.googleapis.com/css?family=Asap|Nunito+Sans|VT323" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div id="body-container" class="container-fluid">
    <div class="page-header">
        <h1 id="title">{% block title %}shelby_codes{% endblock %}</h1>
        <span id="menu_container">
            <ul id="menu_list">
                <li class="menu"><a class="menu" href="index.html">About</a></li>
                <li class="menu"><a class="menu" href="">Projects</a></li>
                <li class="menu"><a class="menu" href="">Blog</a></li>
                <li class="menu"><a class="menu" href="">Home</a></li>
            </ul>
        </span>
    </div>

{# columns #}
    <div id="columns">
        <div id="side-menu" class="menu container">
            <div class="col-sm-8">
                {% block sidemenu %}
                    <h2>Content</h2>
                    <ul>
                        {% for post in posts %}
                            <li><a href="{{ post.get_absolute_url }}"></a></li>
                        {% endfor %}
                    </ul>

                {% endblock %}
            </div>

        </div>
        <div id="post-container" class="content container">
            <div class="col-sm-8">
            {% block content %}
                 <div>
        <div id="post-sub-container">
            <h2>Categories</h2>
            {% if categories %}

                <ul>
                {% for category in categories %}

                    <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a> </li>
                {% endfor %}
                </ul>
            {% endif %}

            <h2>Posts</h2>
            {%  if posts %}

                {% for post in posts %}

                    <div>
                        <p>published: {{ post.published_date }}</p>
                        <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                        <p>{{ post.text }}</p>
                    </div>

                {% endfor %}

                {% else %}

                <p>There are no posts.</p>

            {% endif %}
        </div>

    </div>
            {% endblock %}
            </div>
        </div>
    </div>
{# end columns #}

</div>
</body>
</html>