{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block head_title %}shelby_codes{% endblock %}</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Asap|Nunito+Sans|VT323" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">


</head>
<body>
<div id="body-container" class="container-fluid">
    <div class="page-header">
        <h1 id="title"><a class="title" href="index.html">{% block title %}shelby_codes{% endblock %}</a></h1>
        <span id="menu_container">
            <ul id="menu_list">
                <li class="menu"><a href="about.html" class="menu">About</a></li>
                <li class="menu"><a class="menu" href="projects.html">Projects</a></li>
                <li class="menu"><a class="menu" href="blog_main.html">Blog</a></li>
                <li class="menu"><a href="index.html" class="menu">Home</a></li>
            </ul>
        </span>
    </div>

{# columns #}
    <div id="columns">
        <div id="sub-columns">
            {# START SIDE-MENU #}
            <div id="side-menu" class="menu container">

                    {% block sidemenu %}
                        <h2>Categories</h2>
                        <ul class="sidemenu">
                            {% for category in categories %}
                                <h4><a href="{% url 'blog:category' category.slug %}" id="cat_link">{{ category.title }}</a></h4>
                                {% for post in posts %}
                                    {% ifequal post.category category %}
                                    <li class="sidemenu"><a href="{% url 'blog:post' post.slug %}"><sup>|</sup>--{{ post.title|truncatechars:20 }}</a></li>
                                    {% endifequal %}
                                {% endfor %}

                            {% endfor %}
                        </ul>
                    {% endblock %}

            </div>
            {# END SIDE-MENU #}


            {# START BLOG-POSTS #}
            <div id="post-container" class="content container">

                {% block welcome %}
                    <h1 id="welcome-title">Welcome!</h1>
                    <p class="welcome-content">
                        Updates:
                    </p>
                {% endblock welcome %}

                <h2 id="content-title">{% block content-title %}New Posts{% endblock %}</h2>

                {% block content %}
                <div id="post-sub-container">
                {%  if posts %}
                    {% for post in posts reversed %}
                        <div id="blog-post">
                         <img src="{{ post.img }}">
                            <p id="post-date-published">published: {{ post.publish_date }}</p>
                            <h3><a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a></h3>
                            <p id="post-text">{{ post.body|truncatewords:20 }}</p>
                        </div>
                    {% endfor %}
                    {% else %}
                    <p>There are no posts.</p>
                {% endif %}
                </div>
                {% endblock %}
            </div>
            {# END BLOG-POSTS#}


            {# START RIGHT-SIDE-BAR #}
            <div id="sidebar-container">
                {% block sidebar %}
                    <div id="sidebar-sub-container">
                    <h2>Archives</h2>
                        <ul class="archives-list">
                        <h4 class="archives-month">August 2018</h4>
                            {% for post in posts %}
                                {% ifequal post.publish_month 8 %}
                                    <li class="archives-list">
                                        <a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a>
                                    </li>
                                {% endifequal %}
                            {% endfor %}
                        </ul>
                    <h2>Keywords</h2>
                    </div>
                {% endblock sidebar %}
            </div>
            {# END RIGHT-SIDE-BAR #}
        </div>
    </div>
{# end columns #}



</div>


<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>